{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Журнал событий</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'js.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="background-image"></div>
<div id="conteiner">
  <div id="header">
    <a href="{% url 'event_list' %}"><h1>Журнал событий</h1></a></br>
    <p>Пермский военный институт внутренних войск Министерства внутренних дел Российской Федерации</div>
  <div id="menu">
        {% if user.is_authenticated %}

            <a href="{% url 'event_new' %}" ><span id="icon" class="glyphicon glyphicon-plus"></span></a>
            <p id="hello">Привет, {{ user.username }} <small>(<a id="logout" href="{% url 'logout' %}">Выйти</a>)</small></p>

        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span id="icon" class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
  </div>

  <div id="content">

    <div id="main">
    {% block content %}
    {% endblock %}
    </div>

  </div>
</div>

</body>
</html>


